.information {
	@include span-columns(12 of 12);
	background: $grey;
	padding: 5rem;

	 .left, .right {
	 	@include span-columns(6 of 12);
	 	text-align: center;
	 	background: white;
	 	padding: 2rem;
	 	text-transform: uppercase;
	 	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.05);
	 }
}